@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap");
* {
  font-family: "Mitr", sans-serif;
  box-sizing: border-box;
  color: #333333;
}

body {
  background: #cfdeff;
}

/*menu*/

.header {
  padding: 50px;
  background-image: url("../assets//home-logado.png");
  background-repeat: no-repeat;
  background-position: right;
}

.logo {
  object-fit: contain;
}

.pink-bg {
  background-color: #ff85ff;
  border-radius: 5px;
  padding: 0.375rem 1rem;
  color: #333333;
}

/* main*/

#home-logado {
    padding: 65px 0;
}

.descricao-pesquisa h4{
    color: #333333;
    font-weight: normal;
}

.search {
  background-color: #99b2e8;
  border-radius: 10px;
  width: 80%;
  height: 150px;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;

  color: #333333;
}

h5 {
  margin-top: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: #000000;
}

.formSearch {
  margin: 20px;
}

.formSearch input {
  border-radius: 10px;
}

label {
  margin-bottom: 0;
  font-size: 18;
  font-weight: 300;
}

#btnSearch {
  margin-top: 30px;
  background-color: #00cec8;
  width: 55px;
  height: 38px;
}

#searchIcon {
  color: #010622;
}

.keywords {
  width: 669px;
  height: 53px;
  left: 126px;
  top: 511px;

  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #142585;
}

/*footer*/

#footer {
  padding: 10px;
  background-color: #142585;
}

#footer a,
p,
h4 {
  color: #f5f6f7;
  font-weight: lighter;
}

#footer ul.navbar {
  padding: 0px;
  margin: 0px;
}

.coluna {
  margin: 10px 0px;
}

.rede-social {
  display: flex;
}
