@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap");
* {
  font-family: "Mitr", sans-serif;
  box-sizing: border-box;
  color: #333333;
}

.header {
  background: #def7f6;
  padding: 50px 50px 0 50px;
}

.logo {
  object-fit: contain;
}

.pink-bg {
  background-color: #ff85ff;
  border-radius: 5px;
  padding: .2rem 1rem;
}

.row {
  align-items: center;
}

.img-head {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
}

.title {
  margin: 0px 0px 30px 0px;
  font-weight: normal;
  width: 90%;
}

.title-description {
  font-weight: lighter;
  font-size: 1.2em;
  width: 70%;
}

.learn {
  background-color: #142585;
  color: #F5F6F7;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
}

