@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400&display=swap");
* {
  font-family: "Mitr", sans-serif;
  box-sizing: border-box;
  color: #333333;
}

/*menu*/

.header {
  background: #E6EEFF;
  padding: 50px;
}

.logo {
  object-fit: contain;
}

.pink-bg {
  background-color: #ff85ff;
  border-radius: 5px;
  padding: 0.375rem 1rem;
  color: #333333;
}

/* main*/

.saldo {
  background: #E6EEFF;
  padding: 50px 0px;
}

main .container {
  background-color: #c2d5ff;
  border-radius: 20px;
}

.nav-pills .nav-link.active {
  background: #a1bfff;
}

.side {
  background-color: #cfdeff;
  text-align: center;
  padding: 0;
}

.nav-pills .nav-link {
  color: black;
  padding: 30px;
}

.card {
  padding: 5px;
  background-color: #E6EEFF;
  margin-top: 10px;
  text-align: center;
}

.card-footer {
  text-align: left;
  border-top: none;
  background-color: #cfdeff;
}

.card-footer a {
  color: black;
  text-decoration: none;
}

.conteudo {
  margin: 20px;
}

#formulario {
  padding: 20px;
}

.form-control {
  background-color: #e6eeff;
}

.form-control:focus {
  background-color: #e6eeff;
}

.nav-pills .nav-link #v-pills-home-tab {
  border-top-left-radius: 20px;
}

.cartao {
  margin-top: 70%;
}

.img-text {
  background-image: url(../assets/image_13.png);
  background-repeat: no-repeat;
}

/*footer*/

#footer {
  padding: 10px;
  background-color: #142585;
}

#footer a,
p,
h4 {
  color: #f5f6f7;
  font-weight: lighter;
}

#footer ul.navbar {
  padding: 0px;
  margin: 0px;
}

.coluna {
  margin: 10px 0px;
}

.rede-social {
  display: flex;
}
